<h1> {{ titulo }} </h1>
<ul>
    <li>Camiseta rosa</li>
    <li>Gorra negra</li>
</ul>

<input type="text" [(ngModel)]="storeName" >
<br/>
<br/>


<div *ngIf="park">
    <h4>Datos de mi parque</h4>
    <ol>
        <li>{{park.name}}</li>
        <li>{{park.meters}}</li>
        <li>{{park.vegetation}}</li>
        <li>{{park.status ? 'Abierto' : 'Cerrado' }}</li>
    </ol>
</div>
<br/>
<hr/>


<p *ngIf="storeName">
    <parques
        [name] = 'storeName'
        (showData) = 'showDataPark( $event )'
    >
    </parques>
</p>
