h3 {{title}}


form
    p
        label Nombre
        input.form-control(type="text", placeholder="placeholder")
    p
        label Descripción
        textarea.form-control
    p
        label Año
        input.form-control(type="text", placeholder="placeholder")
    
    input.btn.btn-success( type="submit" value="Crear nuevo")
    
